<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <section class="container">

        <header>
            <div class="logo_container">
                <img src="https://via.placeholder.com/50x50/333/fff?text=L" alt="Logo">
            </div>

            <nav>
                <ul>
                    <li>home</li>
                    <li>stock</li>
                    <li>accessories</li>
                    <li>gallery</li>
                    <li>about</li>
                </ul>
                <button class="btn">
                    <img src="https://via.placeholder.com/20x20/333/fff?text=☰" alt="Menu">
                </button>
            </nav>

        </header>

        <main>
            <header class="page_header">
                <h1>about us</h1>
            </header>

            <section class="info_pic">
                <div class="text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus lobortis, tortor suscipit
                        gravida
                        rutrum, velit justo mattis felis, eu hendrerit dui nunc at nisl. Mauris est nisl, aliquam eu
                        nulla
                        ac, congue euismod arcu. Cras vel turpis odio. Etiam eu sagittis augue, in fermentum lacus.
                        Integer
                        euismod, leo at volutpat pulvinar, orci metus tristique lacus, sed rutrum lacus neque et velit.
                        Integer varius facilisis tempus. Vestibulum a ex sed elit lacinia facilisis a ac metus. Sed
                        faucibus
                        ligula a congue accumsan. Praesent non est diam. Vivamus ac ipsum massa.

                        Ut fermentum mattis lectus, ut blandit ex blandit nec. Fusce id sodales lacus, vitae tristique
                        purus. Morbi consectetur ligula at erat dictum, eu semper justo consectetur.
                    </p>
                </div>

                <div class="picture">
                    <img src="https://image-placeholder.com/images/actual-size/200x200.png" alt="about">
                    <!-- float to right -->
                </div>
            </section>

        </main>

        <footer>
            <ul>
                <li>connect with us!</li>

                <li><a href="emailurl">email</a></li>

                <li>number</li>

                <li><a href="instagramlink">instagram</a></li>
            </ul>
        </footer>
    </section>



</body>

</html>